:root {
    --principal-font: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--principal-font);
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

/* ---------- HEADER ------------- */

.header {
    background-color: beige;
    height: 12vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
}

.header--logo {
    justify-self: center;
}

.header--logo img{
    width: 50px;
}

/* --------- NAVBAR ---------- */

.navbar {
    list-style: none;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar--item a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #0d0d0d;
    font-weight: 400;
}

.navbar--item a:hover{
    color: #0b009e;
}

/* --------- HERO ----------- */

.hero {
    height: 88vh;
    width: 100vw;
    background-color: paleturquoise;
    display: grid;
    place-items: center;
}

.hero--title {
    font-size: 6rem;
}
