:root {
    --principal-font: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--principal-font);
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

/* ---------- HEADER ------------- */

.header {
    background-color: beige;
    height: 12vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
}

.header--logo {
    justify-self: center;
}

.header--logo img{
    width: 50px;
}

/* --------- NAVBAR ---------- */

.navbar {
    list-style: none;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar--item a{
    font-size: 1.7rem;
    text-decoration: none;
    color: #0d0d0d;
    font-weight: 400;
}

.navbar--item a:hover{
    color: #0b009e;
}

/* --------- HERO ----------- */

.hero {
    height: 88vh;
    width: 100vw;
    background-color: paleturquoise;
    display: grid;
    place-items: center;
}

.hero--title {
    font-size: 6rem;
}

/* ----------- FOOTER ----------- */

footer {
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    font-size: 1.4rem;
}

.footer--right {
    min-width: 300px;
}

.footer--right ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.footer--right a {
    text-decoration: none;
    color: #0d0d0d;
}

.footer--right a:hover {
    color: #0b009e;
}

/* CONTENT */

.content {
    display: grid;
    grid-template-columns: minmax(500px, 900px);
    justify-content: center;
}

/* ------- ARTICULOS GLOBAL -------- */

.articulo-1, .articulo-2{
    padding: 1rem;
}

h2 {
    font-size: 2.4rem;
    padding: 2rem;
}

.parrafo {
    font-size: 1.6rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.parrafo-italic {
    font-style: italic;
    font-size: 1.6rem;
    text-align: center;
    margin: 2rem 0;
    opacity: .8;
}

.content ul {
    margin: 3rem 0;
    padding-left: 6rem;
}

.content ul li {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}