:root {
    --principal-font: 'Lato', sans-serif;
    --title-font: 'Bebas Neue', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--principal-font);
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    background-color: #ededed;
}

/* ----------- SCROLLBAR ------------ */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(12deg, #b8dbdb 14%,#bababa 64%);
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #a5abd9 14%,#999999 64%);
}
::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 12px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

/* ---------- HEADER ------------- */

.header {
    background-color: #D5E0F6;
    height: 12vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.6s;
}

.header.sticky {
    height: 8vh;
}

.header--logo {
    justify-self: center;
    transition: 0.6;
}

.header--logo img{
    width: 50px;
}

.header.sticky .header--logo img{
    width: 35px;
}

/* --------- NAVBAR ---------- */

.navbar {
    list-style: none;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header.sticky .navbar {
    height: 8vh;
}

.navbar--item a{
    font-size: 1.7rem;
    text-decoration: none;
    color: #000000f2;
    text-shadow: -2px -1px 4px rgba(150, 150, 150, 1);
    font-weight: 400;
    transition: 0.6;
}

.navbar--item a:hover{
    color: #0b009e;
}

/* --------- HERO ----------- */

.hero {
    height: 100vh;
    width: 100vw;
    background-color: paleturquoise;
    background-image: url("https://www.semana.com/resizer/2RQN1TrbWxHxsdPjj1hftp0bGl0=/1200x675/filters:format(jpg):quality(70)//cloudfront-us-east-1.images.arcpublishing.com/semana/774UBTZBKRFPLAIUE4EAF5PQIU.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.hero--title {
    font-family: var(--title-font);
    letter-spacing: 0.5rem;
    font-size: 10rem;
    color: #171717;
    text-shadow: -3px -1px 4px rgba(255, 255, 255, 0.804);
    background-color: rgba(128, 128, 128, 0.05);
    padding: 1rem 3rem;
    border-radius: 1rem;
    /* transition: 0.6s; */
    /* animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; */
}

/* ----------- FOOTER ----------- */

footer {
    background-color: #D5E0F6;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    font-size: 1.4rem;
}

.footer--right {
    min-width: 300px;
}

.footer--right ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.footer--right a {
    text-decoration: none;
    color: #0d0d0d;
}

.footer--right a:hover {
    color: #0b009e;
}

/* CONTENT */

.content {
    display: grid;
    grid-template-columns: minmax(500px, 900px);
    justify-content: center;
}

/* ------- ARTICULOS GLOBAL -------- */
.articulo-1 {
    margin-top: 4rem;
    border-radius: 1rem 1rem 0 0;
}

article {
    padding: 2rem 4rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}

article:last-child {
    margin-bottom: 4rem;
    border-radius: 0 0 1rem 1rem;
}

article img, ul img {
    min-width: 400px;
    max-width: 800px;
    margin: 1rem;
    align-self: center;
    border-radius: 1rem;
}

ul img {
}

h2 {
    font-size: 2.8rem;
    padding: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    padding: 2rem;
}

.parrafo {
    font-size: 1.6rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.parrafo-italic {
    font-style: italic;
    font-size: 1.6rem;
    text-align: center;
    margin: 0 0 2rem;
    opacity: .8;
}

.content ul {
    margin: 3rem 0;
    padding-left: 6rem;
}

.content ul li {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.video-yt {
    width: 80%;
    height: 37rem;
    margin: 0 auto;
    border-radius: 1rem;
}