.header {
    justify-content: center;
    grid-template: 12vh auto / 50px 1fr;
}

.header--burger {
    display: initial;
    width: 30px;
    padding-left: 1.5rem;
    cursor: pointer;
}

.header--burger img {
    width: 25px;
}

.header--cancel {
    width: 30px;
    padding-left: 1.5rem;
    cursor: pointer;
}

.header--cancel img {
    width: 25px;
}

.header.sticky {
    grid-template: 8vh auto / 50px 1fr;
}

.header--logo {
    align-self: center;
}

.header.sticky .header--logo img {
    width: 30px;
}

.navbar {
    background-image: linear-gradient(to top, #b6d3ff, #bed6fd, #c6d9fb, #ceddf8, #d5e0f6);
    height: 80vh;
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(-100%);
}

.header.sticky .navbar {
    height: 80vh;
}

.navbar-inside {
    transform: translateX(0);
    transition: 0.6s ease;
}

.navbar--item {
    padding: 2rem;
}

.hero--title {
    font-size: 6rem;
}

footer {
    padding: 1.5rem;
    height: 25rem;
    grid-template: 10rem 15rem / 1fr;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .hero--title {
        font-size: 4rem;
    }
}