.tabla {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
}

.tabla2 {
    display: grid;
    grid-template-columns: repeat(2, 400px);
}

.articulo-2 ul {
    display: flex;
    flex-direction: column;
}